#Windows Thumbnails ignorieren
Thumbs.db

#Visual Studio Dateien ignorieren
*.obj
*.exe
*.dll
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
[Rr]elease*/
ipch*/
*.lib
obj/
[Rr]elease*/
_ReSharper*/
MemoryModule.net/Safe (1st Try)/IntPtrExtensions.cs
MemoryModule.net.opensdf
MemoryModule.net.sdf
MemoryModule.net/Safe (1st Try)/NativeFunctions.cs
MemoryModule.net/Safe (1st Try)/SafeTry.cs
/.vs
